.col-md-12 {
    height: 600px;
}

#selDataset {
    margin-top: 10px;
    margin-left: 20px;
}

#plot {
    height: 500px;
}

.dropdown-menu {
    background-color: white;
}

#plot2 {
    height: 530px;
}

#plot3 {
    height: 530px;
}

#plot4 {
    height: 530px;
}

